/**
	Layout
**/
.wp-admin .manage_speakers
{
	padding-top: 0 !important;
}

.wp-admin .manage_speakers .stuffbox
{
	margin-bottom: 5px;
}

.wp-admin .manage_speakers .overview_division
{
	height: 100%;
	float: left;
}

.wp-admin .manage_speakers .overview_left
{
	width: 80%;
}

.wp-admin .manage_speakers .overview_right
{
	width: 20%;
}

.wp-admin .manage_speakers .overview_division_content
{
	position: relative;
	height: 100%;
}

.wp-admin .manage_speakers .overview_left_content
{
	margin: 0 5px 0 0;
}

.wp-admin .manage_speakers .overview_right_content
{
	margin: 0 0 0 5px;
}

.wp-admin .manage_speakers .bottom
{
	position: absolute;
	bottom: 0;
}

/**
	Left
**/
.wp-admin .manage_speakers .overview_left_content .speakers
{
	height: 100%;
}

.wp-admin .manage_speakers .overview_left_content .speaker
{
	width: 30em;
}

/**
	Only show the quick add when the mouse is hovering over the participant's name.
**/
.wp-admin .manage_speakers .overview_left_content .speaker .quick_add
{
	background-color: #ddd;
	display: none;
	float: right;
	font-weight: bold;
	padding: 4px;
}

.wp-admin .manage_speakers .overview_left_content .speaker .header:hover .quick_add
{
	display: block;
}

.wp-admin .manage_speakers .overview_left_content .speaker .header.clicked:hover .quick_add
{
	color: black;
}

/**
	The speakers themselves
**/
.manage_speakers .speaker_group div.speaker
{
	border: solid #666 thin;
	cursor: pointer;
	width: 20em;
}

.manage_speakers .speaker_group .speaker .extra_rows
{
	display: none;
}

.manage_speakers .speakers .inside
{
	overflow-y: auto;
	position: relative;
}

.manage_speakers .speakers  #__delete_speaker
{
	position: absolute;
	right: 15px;
}

.manage_speakers .speaker_group
{
	margin-top: 5px;
	margin-left: 5em;
}

.manage_speakers .speaker_group_depth_1
{
	margin-left: 0;
}

.manage_speakers .speaker_group .clicked
{
	background-color: #0099cc;
	color: white;
}

.manage_speakers .loading h3,
.manage_speakers .speaker_group .speaking > .header
{
	background-image: url("../images/mozilla_blu.gif");
	background-position: 99% center;
	background-repeat: no-repeat;
}

.manage_speakers .speaker_group .spoken > .header
{
	background-color: #4dcc00;
}

.manage_speakers .speaker_group .participant_name,
.manage_speakers .speaker_group .extra_rows
{
	padding: 5px;
	overflow: hidden;
}

.manage_speakers .speaker_group .time_controls
{
	overflow: hidden;
}

.manage_speakers .speaker_group .time_control
, .manage_speakers .speaker_group .time_left
{
	float: left;
}

.manage_speakers .speaker_group .time
, .manage_speakers .speaker_group .time_left
{
	line-height: 15px;
	margin-top: 3px;
	padding-top: 1px;
	text-align: center;
}

.manage_speakers .speaker_group .time input
, .manage_speakers .speaker_group .time_left input
{
	text-align: center;
}

.manage_speakers .speaker_group .time_start
, .manage_speakers .speaker_group .time_stop
, .manage_speakers .speaker_group .time_restop
{
	float: right;
}

#speakers .speaking_too_long .time_left
{
	background-color: red;
	color: white;
	font-weight: bold;
}

/**
	Right
**/
.manage_speakers #participant_list ul
{
	overflow-y: scroll;
}

.wp-admin .manage_speakers .overview_right_content #participant_search input.text
{
	max-width: 100%;
}

.wp-admin .manage_speakers .overview_right_content .participant_list ul li:hover
{
	background-color: #0099cc;
	color: white;
	cursor: pointer;
}

/**
	Log
**/
.wp-admin ul.log
, .wp-admin ul.log ul
{
	margin-left: 1em;
}

.wp-admin ul.log ul
{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.wp-admin ul.log
{
	list-style-type: square;
}

.wp-admin ul.log li .column
{
	display: inline-block;
	min-width: 20%;
}

.wp-admin ul.log li .comma
{
	color: transparent;
}
